<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DEFECT AIRBAG DETECTION</title>
  </head>

<body>
 <div class="login">
	<h1>DEFECT AIRBAG DETECTION</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_defects')}}"method="post">
    	<input type="text" name="OPTION_CODES" placeholder="OPTION_CODES" required="required" />
        <input type="text" name="OPTION_CODES_1" placeholder="OPTION_CODES_1" required="required" />
	

        <button type="submit" class="btn btn-primary btn-block btn-large">CLICK HERE FOR AIRBAG DEFECT DETECTION</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
